@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "EngraversGothicBT";
    src: url("/Typography/EngraversGothicBT.woff2") format("woff2");
    font-weight: normal;
  }
  @font-face {
    font-family: "Sohne";
    src: url("/Typography/sohne--extrabold.woff2") format("woff2");
    font-weight: normal;
  }
}

/* project */
@media (max-width: 1024px) {
  .project-header .project-inner {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .project-header .project-inner {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .project-header .project-inner .project-description {
    margin: 1rem 0 3rem;
  }
}
@media (max-width: 768px) {
  .project-header .project-inner .project-description p {
    width: 100%;
  }
}